* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.titre-section {
  text-align: center;
  margin-bottom: 40px;
}

.titre-section h2 {
  color: rgba(52, 72, 92, 0.7);
  font-size: 3.125rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.titre-section p {
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
}

.btn-up {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  margin-right: -60px;
  transition: all 0.4s ease;
}

.btn-up a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  text-align: center;
}

.btn-up a i {
  font-size: 1rem;
  color: #fff;
  line-height: 40px;
}

.menu-bar-pc {
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 36px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.menu-principal a,
.top-redes a {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all 0.3s ease;
}

.menu-principal a:last-child,
.top-redes a:last-child {
  padding-right: 0;
}

.top-redes a i {
  font-size: 1rem;
}

.menu-principal a:hover,
.top-redes a:hover {
  color: #0089e0;
}

.fixed-header {
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  padding: 0 36px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.4s ease;
  margin-top: -68px;
}

.fixed-header .menu-principal a,
.fixed-header .top-redes a {
  color: #444444;
}

.fixed-header .menu-principal a:hover,
.top-redes a:hover {
  color: #0089e0;
}

.menu-mobile {
  display: none;
}

.main {
  width: 100%;
  margin-top: -68px;
}

.main .VideoBg .texte-banner {
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main .VideoBg .texte-banner h2 {
  font-size: 60px;
  color: #fff;
}

.main .VideoBg .texte-banner h4 {
  font-size: 30px;
  line-height: 10px;
  color: #fff;
  margin-bottom: 30px;
}
.main .VideoBg .texte-banner p {
  font-size: 16px;
  line-height: 10px;
  color: rgb(0, 0, 0);
  margin: 20px auto;
}

.main .VideoBg .texte-banner a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  background: #0089e0;
  color: #fff;
  transition: all 0.7s ease;
}

.main .VideoBg .texte-banner a:hover {
  background: #fff;
  color: #0089e0;
}
/**/

.main .projets {
  background: #f3f4fa;
  padding: 70px 0 20px 0;
}

.main .projets .galerie-projets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 1px solid #ccc;
}

.main .projets .galerie-projets .projet {
  width: 32%;
  margin-bottom: 2%;
  cursor: pointer;
}

.main .projets .galerie-projets .projet img {
  width: 100%;
  vertical-align: top;
  margin-top: 30px;
}

.main .projets .galerie-projets .projet img:hover {
  opacity: 75%;
}

.main .projets .galerie-projets .projet button {
  background-color: rgba(52, 72, 92, 0.7);
  width: 100%;
  height: 30px;
  color: white;
  display: inline-block;
  padding: 0 auto;
}

.main .projets .galerie-projets .projet button:hover {
  background-color: rgba(25, 125, 226, 0.7);
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img {
  width: 90%;
  max-width: 600px;
}

.modal .btn-cerrar {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  background: #0089e0;
  text-align: center;
  cursor: pointer;
}

.modal .btn-cerrar i {
  color: #fff;
  font-size: 1rem;
  line-height: 50px;
}

.main .apropos {
  background: #f3f4fa;
  padding: 108px 0 54px 0;
}

.main .apropos .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main .apropos .container .titre-section {
  width: 33.33%;
  text-align: left;
}

.main .apropos .container .titre-section h2 {
  margin-bottom: 0;
}

.main .apropos .texte-apropos {
  width: 66.66%;
  text-align: left;
}

.main .apropos .texte-apropos p {
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
}

.main .container-slider {
  width: 100%;
  overflow: hidden;
  background: #f3f4fa;
  padding: 54px 0;
  position: relative;
}

.main .container-slider .slider {
  width: 400%;
  display: flex;
}

.main .container-slider .slider .slide {
  width: 15%;
  max-width: 950px;
  margin-right: 0.7%;
  box-shadow: 0px 20px 40px #aaa;
}

.main .container-slider .slider .slide img {
  width: 100%;
  vertical-align: top;
}

.main .container-slider .btn-anterior,
.main .container-slider .btn-siguiente {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main .container-slider .btn-anterior {
  left: 2%;
}

.main .container-slider .btn-siguiente {
  right: 2%;
}

.main .container-slider .btn-anterior i,
.main .container-slider .btn-siguiente i {
  color: #fff;
}

.main .container-slider .btn-anterior i:hover,
.main .container-slider .btn-siguiente i:hover {
  color: #0089e0;
}

.main .competences {
  background: rgba(52, 72, 92, 0.7);
  padding-top: 54px;
  padding-bottom: 108px;
}

.main .competences .container .titre-section h2 {
  color: #f3f4fa;
}

.main .competences .domaines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .competences .domaines .domaine {
  background: rgba(52, 72, 92, 0.7);
  padding: 30px auto;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.main .competences .domaines .domaine:first-child,
.main .competences .domaines .domaine:last-child {
  position: relative;
  top: 20px;
}

.main .competences .domaines .domaine .photo-domaine {
  width: 50%;
  max-width: 100px;
  display: inline-block;
  margin-bottom: 10px;
}

.main .competences .domaines .domaine .photo-domaine img {
  width: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-top: 10px;
}

.main .competences .domaines .domaine .texto h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #0089e0;
}

.main .competences .domaines .domaine .texto h4 {
  color: #979797;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.main .competences .domaines .domaine .texto p {
  color: #979797;
  font-size: 0.9rem;
  font-weight: 400;
}

.main .contact {
  padding: 190px 0;
  background-image: url("../img/bg-contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main .contact .container-formulario {
  background: #fff;
  min-height: 485px;
  border-radius: 3px;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

.main .contact .container-formulario .formulario {
  width: 50%;
  padding: 70px;
}

.main .contact .container-formulario .formulario h2 {
  font-size: 1.375rem;
  line-height: 24px;
  color: #0089e0;
  font-weight: 500;
  margin-bottom: 10px;
}

.main .contact .container-formulario .formulario p {
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.main .contact .container-formulario .formulario form textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
  width: 100%;
  max-width: 100%;
  max-height: 88px;
  min-height: 88px;
  color: #979797;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
}

.main .contact .container-formulario .formulario form input[type="submit"] {
  width: 100%;
  border: none;
  border: 1px solid #0089e0;
  padding: 8px;
  background: #0089e0;
  color: #fff;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.7s ease;
}

.main
  .contact
  .container-formulario
  .formulario
  form
  input[type="submit"]:hover {
  background: #fff;
  color: #0089e0;
}

footer {
  background: #f3f4fa;
  padding: 54px 0;
  text-align: center;
}

footer .copy {
  color: #979797;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 15px;
}

footer .footer-redes a {
  display: inline-block;
  padding: 0 10px;
  color: #979797;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all 0.3s ease;
}

footer .footer-redes a:hover {
  color: #0089e0;
}

/*****************************testing videoBG ****************************************************/
.VideoBg {
  min-height: 640px;
}

.VideoBg__content {
  text-align: center;
  background-color: rgba(52, 72, 92, 0.7);
}

* {
  margin: 0;
}

img {
  width: 200px;
  margin-top: 120px;
}

h1,
h4 {
  cursor: default;
}

a {
  text-decoration: none;
}

h1 {
  margin: 40px 0;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 4em;
  color: #ebebeb;
}

h4,
a {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7f8c8d;
}
.VideoBg {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.VideoBg video {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
}
.VideoBg__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/****************************************************************************************************/
@media screen and (max-width: 1040px) {
  .main .competences .titre-section {
    margin-bottom: 60px;
  }
  .main .competences .domaines .domaine {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
  .main .competences .domaines .domaine:first-child {
    top: -20px;
  }
  .main .competences .domaines .domaine .photo-domaine {
    margin-right: 20px;
  }
}

/****************************************************************************************************/
@media screen and (max-width: 900px) {
  /*Encabezado*/
  .menu-bar-pc {
    display: none;
  }

  .menu-mobile {
    display: block;
    width: 100%;
    padding: 5px 18px;
    background: #fff;
    color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .menu-mobile .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-mobile .bar a i {
    font-size: 1.4rem;
    color: #444444;
  }

  .menu-mobile .menu-principal {
    width: 80%;
    display: block;
    position: fixed;
    top: 56px;
    left: -100%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    border-right: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.2);
    background: #fff;
    text-align: center;
  }

  .menu-mobile .menu-principal a {
    display: block;
    padding: 10px;
    color: #444444;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  }

  .menu-mobile .menu-principal a:hover {
    background: #f7f7f7;
  }
  .fixed-header {
    display: none;
  }

  .main {
    margin-top: 0;
  }

  .main .apropos .container .titre-section,
  .main .apropos .container .texte-apropos {
    width: 100%;
    text-align: center;
  }
}

/****************************************************************************************************/
@media screen and (max-width: 550px) {
  .main .banner-principal .texte-banner h1 {
    font-size: 4rem;
  }

  .titre-section h2 {
    font-size: 2.125rem;
  }

  .main .projets .galerie-projets .projet {
    width: 49%;
  }

  .main .competences .domaines .domaine {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
